{% extends 'app/base.html' %}
{% load static %}
{% block title %}Thay đổi mật khẩu thành công{% endblock title %}
{% block password %}
<div class="container my-5">
    <div class="row">
        <h3>Xin chào {{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Thay đổi mật khẩu thành công</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Mật khẩu đã thay đổi thành công!!!</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock password %}